@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

:root {
   --deflection: -45deg;
   --volumeSliderStyle: horizontal;
   --balanceSliderStyle: horizontal;
   --brightnessSliderStyle: horizontal;
   --vuMetersType: analogue;
   --useCaps: false;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(6, 1fr);
   gap: 10px;
   padding: 50px;
}

.meter-container {
   grid-column: span 2 / span 2;
   grid-row: span 2 / span 2;
}

.display-container {
   grid-column: span 2 / span 2;
   grid-row: span 2 / span 2;
   grid-column-start: 3;
   min-width: 650px;
}

.brightness-level-container {
   grid-column: span 2 / span 2;
   grid-column-start: 3;
   grid-row-start: 3;
}

.screen-container {
   grid-column: span 2 / span 2;
   grid-row: span 3 / span 3;
   grid-column-start: 1;
   grid-row-start: 3;
   min-width: 420px;
}

.logo-container {
   grid-column-start: 1;
   grid-row-start: 6;
}

.controls-container {
   grid-column: span 2 / span 2;
   grid-column-start: 3;
   grid-row-start: 4;
}

.volume-level-container {
   grid-column: span 2 / span 2;
   grid-column-start: 3;
   grid-row-start: 5;
}

.balance-level-container {
   grid-column: span 2 / span 2;
   grid-row-start: 6;
}

.themes-container {
   grid-column-start: 2;
   grid-row-start: 6;
}

.slider-knob {
   content: url(./imgs/slider-knob.webp);
}

.hidden {
   display: none;
}

.bargraph {
   display: none;
}

.analogue {
   display: flex;
   width: 100%;
}

.small {
   zoom: 0.75;
}

.controls-container .wrapper .img,
.meter,
body {
   background-position: center center;
   background-repeat: no-repeat;
}

.rye-regular {
   font-family: "Rye", serif;
   font-weight: 400;
   font-style: normal;
}

.controls-container .wrapper .img,
.meter,
.screen-wrapper,
body {
   background-repeat: no-repeat;
}

.clearfix,
.display-row {
   clear: both;
}

body {
   background-image: url(imgs/background-tile.webp);
   background-size: auto;
   background-repeat: repeat;
}

body > img {
   width: 100%;
}

img {
   border: 0;
   outline: none;
}

#pointer1,
#pointer2 {
   position: absolute;
   left: 50%;
   bottom: 14%;
   transform: rotate(var(--deflection));
}

#pointer1,
#pointer2 {
   position: absolute;
   left: calc(50% - 11px);
   bottom: -55%;
   transform: rotate(var(--deflection));
   scale: 0.5;
   transform-origin: 50% 85%;
   transition: transform 0.05s ease;
   content: url(/imgs/needle.webp);

.labels,
.meter,
.meter-face {
   position: relative;
}

.name {
   text-align: center;
   margin: 30px;
}

.meter {
   height: 177px;
   width: 174px;
   background-image: url(imgs/vu-meter.webp);
   margin: 0 auto;
}

.meter-face {
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.pol {
   display: none;
}

.labels {
   width: 50%;
   left: 25%;
   bottom: 15%;
}

.screws img {
   position: absolute;
   width: 15px !important;
   height: 15px !important;
}

.controls-container .wrapper .img {
   width: 60px;
   height: 60px;
   /* left: -9px;
   top: 5px; */
   margin: 5px auto;
   background-image: url(imgs/controls.webp);
   position: relative;
   opacity: 0.8;
   background-color: transparent;
   border: none;
}

.controls-container .img.select-song {
   background-position: 0 0;
}

.controls-container .img.stop {
   background-position: -60px 0;
}

.controls-container .img.prev {
   background-position: -120px 0;
}

.controls-container .img.next {
   background-position: -180px 0;
}

.controls-container .img.playpause {
   background-position: -240px 0;
}

.controls-container .img.ff {
   background-position: -300px 0;
}

.controls-container .img.rew {
   background-position: -360px 0;
}

.controls-container .wrapper .img:hover {
   opacity: 1;
   cursor: pointer;
}

.controls-container .wrapper .img:active {
   position: relative;
   top: 6px;
   opacity: 1;
}

.controls-container .wrapper .img:focus {
   border: 1px solid #ff0;
}

.logo-container img {
   height: 100px;
}

#logo {
   content: url(./imgs/logo.webp);
}

.display-row {
   display: block;
   overflow: inherit;
   padding: 5px 0;
}

.screen-wrapper {
   margin: 7px auto;
   height: 350px;
   width: 350px;
   border-radius: 50%;
   background-size: contain;
   background-position: center center;
}

.screen-wrapper > img {
   content: url(imgs/screen.webp);
   position: absolute;
   top: 50%;
   left: 50%;
   width: 400px;
   height: 400px;
   transform: translate(-50%, -50%);
   z-index: 10;
}

#playlist {
   opacity: 0;
   z-index: 2;
   overflow: scroll;
   position: relative;
   background: rgb(27, 27, 27);
   color: white;
   padding: 1rem 2rem;
   font-size: 1.5rem;
   transition: opacity 0.5s ease-in-out;
   border-radius: 50px;
   font-size: 12px;
   font-family: rye;
   top: 50%;
   transform: translateY(-50%);
}

#playlist div {
   cursor: pointer;
   padding-left: 10px;
}
#playlist div.selected {
   background: cornflowerblue;
}

.screen-wrapper:hover #playlist {
   opacity: 0.9;
}

.controls-container,
.brightness-level-container,
.volume-level-container,
.balance-level-container,
.meter-container,
.display-container,
.screen-container,
.logo-container,
.themes-container {
   background-image: url(imgs/plate.webp);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.display-container [class*="col-"] {
   padding: 0;
}

.meter-container .label {
   margin: 4px auto;
   width: 100%;
   text-align: center;
}

.display-row > div {
   margin: 3px 10px;
   display: inline-block;
   border: 3px inset #97804a;
}

#file {
   display: none;
}

.lower,
.upper {
   width: 20px;
   height: 40px;
   float: left;
   margin: 0px;
}

.upper {
   background-position: 0 0;
}

.lower {
   background-position: 20px 0 !important;
}

.slider .ui-state-default,
.ui-widget-header {
   background: 0 0;
}

.corners > img {
   position: absolute;
   width: 5vw;
   height: 5vw;
   content: url(imgs/corner.webp);
}

.screws img {
   content: url(./imgs/screw.webp);
}

.label,
.levels {
   position: relative;
}

.pol {
   opacity: 0;
   position: absolute;
   width: 0;
   height: 0;
}

.corners .top {
   top: 0;
}

.corners .bottom {
   bottom: 0;
}

.corners .left {
   left: 0;
}

.corners .right {
   right: 0;
}

.corners .top.left {
   transform: rotate(-90deg);
}

.corners .top.right {
   transform: rotate(0);
}

.corners .bottom.left {
   transform: rotate(180deg);
}

.corners .bottom.right {
   transform: rotate(90deg);
}

.mask {
   width: 100%;
   height: 100%;
   float: left;
   opacity: 0;
}

.slider.ui-slider .ui-slider-handle {
   width: 58px;
   height: 38px;
   top: -20px;
   border: none;
   outline: none;
}

.slider {
   height: 0 !important;
   width: 87%;
   border: none !important;
   margin: -7%;
}

.slider-ui-content {
   width: 50%;
   margin-left: 30px;
   margin-top: 30px;
}

.ui-widget.ui-widget-content {
   border: none;
}

.levels {
   width: 440px;
   height: 78px;
   margin: 0 auto;
   background-image: url(imgs/slider-bezel.webp);
   margin-bottom: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.levels.sm {
   zoom: 0.8;
}

.display-row .levels {
   top: 8px;
   position: relative;
   width: 200px;
   height: 40px;
   background-size: cover;
}

.display-row .slider {
   height: 0 !important;
   margin-top: 30px;
   width: 166px;
   margin-left: 29px;
   border: none !important;
}

.display-row .slider.ui-slider .ui-slider-handle {
   width: 29px;
   height: 0;
   margin-left: -29px;
   top: -25px;
   border: none;
}

.display-row .ui-slider-handle img {
   width: 29px;
   height: 19px;
   outline: none;
}

.label {
   color: black;
   margin: 0;
   font-size: 18px;
   font-family: "Rye", serif;
   font-weight: 400;
   font-style: normal;
}

.label.min,
.label.lft {
   position: relative;
   left: -60px;
}

.label.max,
.label.rght {
   position: relative;
   right: -90px;
}

.label:empty {
   display: inline-block;
}

.select-wrapper {
   background-image: url(imgs/insert-top.webp);
   background-color: white;
   position: relative;
   background-size: 100px 27px;
   background-repeat: no-repeat;
   background-position: center top;
   width: 100px;
   height: 46px;
   display: flex;
   align-items: anchor-center;
   outline: none;
   justify-content: center;
   background-color: #967d42;
}

.select-wrapper:after {
   content: "";
   position: absolute;
   background-image: url(imgs/insert-bottom.webp);
   background-repeat: no-repeat;
   width: 100px;
   height: 19px;
   background-size: 100px 19px;
   left: 0;
   right: 0;
   bottom: 0;
}

#themes {
   background: none;
   border: none;
   background-color: #967d42;
}
